# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
/vendor

# IDE
.idea

# Laravel
/public/*.map
/public/hot
/public/js/*
/public/css/*
/public/images
/public/favicon
/public/fonts
/public/service-worker.js
/public/favicon.ico
/public/mix-manifest.json
/public/storage
/storage/*.key
/storage/debugbar/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
